body, html {
  margin: 0; padding: 0;
  background: blue;
  font-family: 'Droid Sans', sans-serif;
  /font: 16pt Helvetica, Sans-serif;
  display: block;
}

.hidden {
  display: none;
}

#login {
  color: white;
  display: block;
  padding-left: 5em;
}

  #login h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 2em 0 .5em 0;
    padding: 0;
  }

  #login input {
    width: 18em;
    display: block;
    border: 3px solid black;
    margin-bottom: .75em;
    padding: .5em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    -moz-box-shadow: 5px 5px 5px #222;
    -webkit-box-shadow: 5px 5px 5px #222;
    box-shadow: 5px 5px 5px #222;
  }

  #login #submit {
    width: 8em;
    margin-left: 4.7em;
  }

#menu {
}

#player {
}
